parameters:
    parallel:
        maximumNumberOfProcesses: 2
    level: 5
    bootstrapFiles:
        - ../../inc/based_config.php
    paths:
        - ajax
        - front
        - inc
        - hook.php
        - setup.php
    scanDirectories:
        - ../../inc
        - ../../src
    stubFiles:
        - ../../stubs/glpi_constants.php
    ignoreErrors:
        - '#Call to deprecated method query\(\) of class DBmysql:#'
        - '#Path in include_once\(\) ".*?/files/_plugins/order/generate/custom\.php" is not a file or it does not exist\.#'
    excludePaths:
        - 'inc/referenceinjection.class.php'
        - 'inc/orderinjection.class.php'
