<?xml version="1.0" encoding="UTF-8"?>
<root>
   <name>Order Management</name>
   <key>order</key>
   <state>stable</state>
   <logo>https://raw.githubusercontent.com/pluginsGLPI/order/master/order.png</logo>
   <description>
      <short>
         <fr><![CDATA[Gestion des commandes de matériels]]></fr>
         <en><![CDATA[Order management]]></en>
         <de><![CDATA[Bestellverwaltung]]></de>
         <cs><![CDATA[Správa objednávek]]></cs>
      </short>
      <long>
         <fr><![CDATA[Cette extension vous permet de gérer le processus de commande de matériels à l'intérieur de GLPI :<br /> - Gestion des références produits<br /> - Gestion des commandes (avec workflow de soumission)<br /> - Gestion des budgets]]></fr>
         <en><![CDATA[This plugin allows you to manage order management within GLPI :<br /> - Products references management<br /> - Order management (with approval workflow)<br > - Budgets management]]></en>
         <de><![CDATA[Dieses Plugin ergänzt GLPI mit einer Bestellverwaltung:<br /> - Verwaltung der Produktreferenzen<br /> - Bestellverwaltung mit Freigabeprozedur<br > - Budgetverwaltung]]></de>
         <cs><![CDATA[Tento zásuvný modul umožňuje spravovat objednávky pomocí GLPI :<br /> - Správa odkazů na produkty<br /> - Správa objednávek (s procesem schvalování)<br > - Správa rozpočtů]]></cs>
      </long>
   </description>
   <homepage>https://github.com/pluginsGLPI/order/</homepage>
   <download>https://github.com/pluginsGLPI/order/releases</download>
   <issues>https://github.com/pluginsGLPI/order/issues</issues>
   <readme>https://glpi-plugins.readthedocs.io/en/latest/order/index.html</readme>
   <authors>
      <author>Walid Nouh</author>
      <author>Xavier Caillaud / Infotel</author>
      <author>François Legastelois</author>
      <author>Benjamin Fontan</author>
   </authors>
   <versions>
      <version>
          <num>2.10.4</num>
          <compatibility>~10.0.0</compatibility>
          <download_url>https://github.com/pluginsGLPI/order/releases/download/2.10.4/glpi-order-2.10.4.tar.bz2</download_url>
      </version>
      <version>
          <num>2.10.3</num>
          <compatibility>~10.0.0</compatibility>
          <download_url>https://github.com/pluginsGLPI/order/releases/download/2.10.3/glpi-order-2.10.3.tar.bz2</download_url>
      </version>
      <version>
          <num>2.10.2</num>
          <compatibility>~10.0.0</compatibility>
          <download_url>https://github.com/pluginsGLPI/order/releases/download/2.10.2/glpi-order-2.10.2.tar.bz2</download_url>
      </version>
      <version>
          <num>2.10.1</num>
          <compatibility>~10.0.0</compatibility>
          <download_url>https://github.com/pluginsGLPI/order/releases/download/2.10.1/glpi-order-2.10.1.tar.bz2</download_url>
      </version>
      <version>
          <num>2.10.0</num>
          <compatibility>~10.0.0</compatibility>
          <download_url>https://github.com/pluginsGLPI/order/releases/download/2.10.0/glpi-order-2.10.0.tar.bz2</download_url>
      </version>
      <version>
          <num>2.9.0</num>
          <compatibility>~10.0.0</compatibility>
          <download_url>https://github.com/pluginsGLPI/order/releases/download/2.9.0/glpi-order-2.9.0.tar.bz2</download_url>
      </version>
      <version>
          <num>2.8.2</num>
          <compatibility>~10.0.0</compatibility>
          <download_url>https://github.com/pluginsGLPI/order/releases/download/2.8.2/glpi-order-2.8.2.tar.bz2</download_url>
      </version>
      <version>
          <num>2.8.1</num>
          <compatibility>~10.0.0</compatibility>
          <download_url>https://github.com/pluginsGLPI/order/releases/download/2.8.1/glpi-order-2.8.1.tar.bz2</download_url>
      </version>
      <version>
          <num>2.8.0</num>
          <compatibility>~10.0.0</compatibility>
          <download_url>https://github.com/pluginsGLPI/order/releases/download/2.8.0/glpi-order-2.8.0.tar.bz2</download_url>
      </version>
      <version>
          <num>2.7.7</num>
          <compatibility>~9.5.0</compatibility>
          <download_url>https://github.com/pluginsGLPI/order/releases/download/2.7.7/glpi-order-2.7.7.tar.bz2</download_url>
      </version>
      <version>
          <num>2.7.6</num>
          <compatibility>~9.5.0</compatibility>
          <download_url>https://github.com/pluginsGLPI/order/releases/download/2.7.6/glpi-order-2.7.6.tar.bz2</download_url>
      </version>
      <version>
          <num>2.7.5</num>
          <compatibility>~9.5.0</compatibility>
          <download_url>https://github.com/pluginsGLPI/order/releases/download/2.7.5/glpi-order-2.7.5.tar.bz2</download_url>
      </version>
      <version>
          <num>2.7.4</num>
          <compatibility>~9.5.0</compatibility>
          <download_url>https://github.com/pluginsGLPI/order/releases/download/2.7.4/glpi-order-2.7.4.tar.bz2</download_url>
      </version>
      <version>
          <num>2.7.3</num>
          <compatibility>~9.5.0</compatibility>
          <download_url>https://github.com/pluginsGLPI/order/releases/download/2.7.3/glpi-order-2.7.3.tar.bz2</download_url>
      </version>
      <version>
          <num>2.7.2</num>
          <compatibility>~9.5.0</compatibility>
          <download_url>https://github.com/pluginsGLPI/order/releases/download/2.7.2/glpi-order-2.7.2.tar.bz2</download_url>
      </version>
      <version>
          <num>2.7.1</num>
          <compatibility>~9.5.0</compatibility>
          <download_url>https://github.com/pluginsGLPI/order/releases/download/2.7.1/glpi-order-2.7.1.tar.bz2</download_url>
      </version>
      <version>
          <num>2.7.0</num>
          <compatibility>~9.5.0</compatibility>
          <download_url>https://github.com/pluginsGLPI/order/releases/download/2.7.0/glpi-order-2.7.0.tar.bz2</download_url>
      </version>
      <version>
          <num>2.6.0</num>
          <compatibility>~9.5.0</compatibility>
          <download_url>https://github.com/pluginsGLPI/order/releases/download/2.6.0/glpi-order-2.6.0.tar.bz2</download_url>
      </version>
      <version>
          <num>2.5.3</num>
          <compatibility>~9.4.0</compatibility>
          <download_url>https://github.com/pluginsGLPI/order/releases/download/2.5.3/glpi-order-2.5.3.tar.bz2</download_url>
      </version>
      <version>
          <num>2.5.2</num>
          <compatibility>~9.4.0</compatibility>
          <download_url>https://github.com/pluginsGLPI/order/releases/download/2.5.2/glpi-order-2.5.2.tar.bz2</download_url>
      </version>
      <version>
          <num>2.5.1</num>
          <compatibility>~9.4.0</compatibility>
          <download_url>https://github.com/pluginsGLPI/order/releases/download/2.5.1/glpi-order-2.5.1.tar.bz2</download_url>
      </version>
      <version>
          <num>2.5.0</num>
          <compatibility>~9.4.0</compatibility>
          <download_url>https://github.com/pluginsGLPI/order/releases/download/2.5.0/glpi-order-2.5.0.tar.bz2</download_url>
      </version>
      <version>
          <num>2.4.0</num>
          <compatibility>~9.4.0</compatibility>
          <download_url>https://github.com/pluginsGLPI/order/releases/download/2.4.0/glpi-order-2.4.0.tar.bz2</download_url>
      </version>
     <version>
          <num>2.3.0</num>
          <compatibility>9.3</compatibility>
     </version>
     <version>
          <num>2.2.1</num>
          <compatibility>9.3</compatibility>
     </version>
     <version>
          <num>2.2.0</num>
          <compatibility>9.3</compatibility>
     </version>
     <version>
          <num>2.1.1</num>
          <compatibility>9.3</compatibility>
     </version>
     <version>
          <num>2.1.0</num>
          <compatibility>9.3</compatibility>
     </version>
     <version>
          <num>2.0.2</num>
          <compatibility>9.2</compatibility>
     </version>
     <version>
          <num>2.0.1</num>
          <compatibility>9.2</compatibility>
     </version>
     <version>
          <num>2.0.0</num>
          <compatibility>9.2</compatibility>
     </version>
     <version>
          <num>1.9.7</num>
          <compatibility>0.85</compatibility>
          <compatibility>0.90</compatibility>
          <compatibility>9.1</compatibility>
     </version>
     <version>
          <num>1.9.6</num>
          <compatibility>0.85</compatibility>
          <compatibility>0.90</compatibility>
          <compatibility>9.1</compatibility>
     </version>
     <version>
          <num>1.9.5</num>
          <compatibility>0.85</compatibility>
          <compatibility>0.90</compatibility>
          <compatibility>9.1</compatibility>
     </version>
     <version>
          <num>0.85+1.3.1</num>
          <compatibility>0.85</compatibility>
          <compatibility>0.90</compatibility>
          <compatibility>9.1</compatibility>
      </version>
     <version>
          <num>0.85+1.3</num>
          <compatibility>0.85</compatibility>
          <compatibility>0.90</compatibility>
          <compatibility>9.1</compatibility>
      </version>
     <version>
          <num>0.85+1.2</num>
          <compatibility>0.85</compatibility>
          <compatibility>0.90</compatibility>
      </version>
     <version>
          <num>0.85+1.1</num>
          <compatibility>0.85</compatibility>
          <compatibility>0.90</compatibility>
      </version>
     <version>
          <num>0.85+1.0</num>
          <compatibility>0.85</compatibility>
          <compatibility>0.90</compatibility>
      </version>
     <version>
          <num>1.9.0</num>
          <compatibility>0.84</compatibility>
      </version>
     <version>
          <num>1.8.1</num>
          <compatibility>0.84</compatibility>
      </version>
     <version>
          <num>1.8.0</num>
          <compatibility>0.84</compatibility>
      </version>
     <version>
          <num>1.7.1</num>
          <compatibility>0.83.3+</compatibility>
      </version>
     <version>
          <num>1.7.0</num>
          <compatibility>0.83.3+</compatibility>
      </version>
     <version>
          <num>1.6.0</num>
          <compatibility>0.83</compatibility>
      </version>
     <version>
          <num>1.5.4</num>
          <compatibility>0.80</compatibility>
      </version>
     <version>
          <num>1.5.3</num>
          <compatibility>0.80</compatibility>
      </version>
     <version>
          <num>1.5.2</num>
          <compatibility>0.80</compatibility>
      </version>
     <version>
          <num>1.5.1</num>
          <compatibility>0.80</compatibility>
      </version>
      <version>
          <num>1.5.0</num>
          <compatibility>0.80</compatibility>
      </version>
      <version>
          <num>1.4.0</num>
          <compatibility>0.80</compatibility>
      </version>
      <version>
          <num>1.3.0</num>
          <compatibility>0.78.3+</compatibility>
      </version>
      <version>
          <num>1.2.0</num>
          <compatibility>0.78.x</compatibility>
      </version>
      <version>
          <num>1.1.2</num>
          <compatibility>0.72.x</compatibility>
      </version>
      <version>
          <num>1.1.1</num>
          <compatibility>0.72.x</compatibility>
      </version>
      <version>
          <num>1.1.0</num>
          <compatibility>0.72.x</compatibility>
      </version>
      <version>
          <num>1.0.0</num>
          <compatibility>0.72.x</compatibility>
      </version>
   </versions>
   <langs>
      <lang>cs_CZ</lang>
      <lang>fr_FR</lang>
      <lang>en_GB</lang>
      <lang>de_DE</lang>
   </langs>
   <category></category>
   <tags>
         <fr>
            <tag>commandes</tag>
            <tag>achats</tag>
            <tag>inventaire</tag>
            <tag>budgets</tag>
            <tag>produits</tag>
            <tag>catalogue</tag>
         </fr>
         <en>
            <tag>orders</tag>
            <tag>buying</tag>
            <tag>inventory</tag>
            <tag>budgets</tag>
            <tag>products</tag>
            <tag>catalog</tag>
         </en>
         <cs>
            <tag>objednávky</tag>
            <tag>nakupování</tag>
            <tag>inventář</tag>
            <tag>rozpočty</tag>
            <tag>produkty</tag>
            <tag>katalog</tag>
         </cs>
   </tags>
   <license>GPL v2+</license>
   <screenshots>
      <screenshot>https://raw.githubusercontent.com/pluginsGLPI/order/master/screenshots/screenshot1.png</screenshot>
      <screenshot>https://raw.githubusercontent.com/pluginsGLPI/order/master/screenshots/screenshot2.png</screenshot>
      <screenshot>https://raw.githubusercontent.com/pluginsGLPI/order/master/screenshots/screenshot3.png</screenshot>
   </screenshots>
</root>
